---
layout: portfolio-default
title: Timothy Meixell's Portfolio
---
<div class="home">
  <div class="grid">
    {% for post in site.categories.portfolio %}
      <div class="grid-item">
        {% if post.thumbnail %}
          <a class="post-link" href="{{ post.url | prepend: site.github.url }}">
            <div class="trim-img">
              <img src={{post.thumbnail}} alt="sudoku puzzle">
            </div>
          </a>
        {% endif %}
        <!-- <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span> -->
        <div class="portfolio-title">
          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.github.url }}">
              {{ post.title }}
            </a>
          </h2>
        </div>
        {% if post.summary %}
          <div class="portfolio-summary">
            {{post.summary}}
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>
