body {
  background-image: url("../imgs/blog_bg.jpg");
}

header {
  float: left;
  text-align: left;
  width: auto;
  margin-top: auto;
  padding: 3em;
}

h1 {
  color: black;
  text-align: left;
}

article {
  padding: 2em;
  font-size: 20px;
  max-width: 600px;
}

.archive {
  float: right;
  margin: 2em;
  margin-left: 3em;
}

.archive > * {
  display: block;
  width: 14em;
  text-align: left;
  padding-left: 0.25em;
}

body > a {
  display:block;
  width: 2em;
  font-size: 40px;
  text-align: center;
  text-decoration: none;
  color: black;
}