body {
  background-image: url("../imgs/blog_bg.jpg");
}

header {
  float: left;
  text-align: left;
  width: auto;
  margin-top: auto;
  padding: 3em;
}

h1 {
  color: black;
  text-align: left;
}

article {
  padding: 2em;
}

.archive {
  float: right;
  margin: 2em;
}

.archive > * {
  display: block;
  width: 14em;
  text-align: left;
  padding-left: 0.25em;
}