h1 {
  color: white;
}

#email {
  width: 10em;
}

#center-box {
  height: 200px;
  width: 300px;
  position: absolute;
  top: 72%;
  left: 50%;
  margin: -100px 0 0 -150px;
}

body > a {
  display:block;
  width: 2em;
  font-size: 40px;
  text-align: center;
  text-decoration: none;
  color:white;
}