h1 {
  color: white;
}

nav {
  background: gray;
  color: white;
  font-size: 24px;
  text-align: left;
  padding: 50px;
  height: 350px;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -250px 0 0 -200px;
  border: 2px solid white;
  border-radius: 5px;
}

nav > a {
  font-size: 30px;
  display: block;
  width: auto;
}

body > a {
  display:block;
  width: 3em;
  font-size: 40px;
  text-align: center;
  text-decoration: none;
  color:white;
}